<div class="">
    <h1><img src="{{ hero-image.svg }}" alt="Hero" loading="lazy"><span>Vintage and Thrift</span></h1>
</div>

{% schema %}
{
  "name": "Hero",
  "presets": [
    {
      "category": "Logo",
      "name": "Hero"
    }
  ]
}
{% endschema %}