<div class="">
    <h2>Picks of the week</h2>
    <div class="">
        {% for product in section.settings.collection.products %}
            <div class="">
                <a href="">
                    <p>{{ product.title }}e</p>
                    <div class="">
                        <span>
                            {{ product.price | money}}
                        </span>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% schema %}
{
    "name": "Weekly Picks",
    "settings":[
        {
        "type": "collection",
        "id":"collection",
        "label": "Collection"
        }
    ],
    "presets": [
    {
        "name":"Weekly Picks"
    }
]
}
{% endschema %}