<div class="">
    Weekly Picks
</div>

{% schema %}
{
    "name": "Weekly Picks",
    "settings":[
        {
        "type": "collection",
        "id":"collection",
        "label": "Collection"
        }
    ],
    "presets": "Weekly Picks"
}
{% endschema %}